*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    margin: auto;
    max-width: 900px;
    display: none;
}

.container.show{
 display: block;
}
body{
    background: #dee2e6;
}



.gameWork header{
  background: #4361ee;
  color: #ffffff;
  text-align: center;
  padding: 20px;
  font-size: 19px;

}


.start{
 text-align: center;
background: #4361ee;
width: 20%;
margin: 20px auto;
color: #fff;
font-size: 19px;
cursor: pointer;
padding: 20px 20px;
transition: 0.5s;

       
}

.start:hover{
    background: #4895ef;
}

#choees{
      
   background: #ffffff;
   padding: 20px;
   text-align: center;

}

#choees span::after{
    content: '] ';
    color: #4361ee;

}

#choees span::before{
    content: '[';
    color: #4361ee;

}

#timer{

}

.choose{
    background: #ffffffff;
    border: 2px solid #4895ef;
    margin: 0 10px;

}

#input{
      padding: 19px;
      width:100%;
     margin-top: 10px;
     text-align: center;
     outline: none;
     border: 2px solid #212529;
}
.workgenerater{
        
        background: #ffffffff;
        padding: 20px;
       display: flex;
       justify-content: center;
       flex-wrap: wrap;
       user-select: none;
       margin-top: 10px;
        

}

.workgenerater div{
     background: #4cc9f0;
     padding:10px;
     margin: 10px;
     border-radius: 10px;
     color: #ffffff;
}

.control{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.seconds{
    padding: 10px;
     background: #ffffffff;
}
.score{
        padding: 10px;
     background: #ffffffff;
}

.randomWork{
   text-align: center;
background: #ffffffff;
width: 20%;
margin: 20px auto;
font-size: 19px;
padding: 20px 20px;
   border: 2px solid #212529;
   user-select: none;
}


.choeesLevel{
    display: flex;
    justify-content: center;
    background: #4895ef;
   color: #ffffffff;
    padding: 20px;
}

.choeesLevel input{
    margin: 0 20px;
}


input:default + label{
     color: coral;
     
}


.choeesLevel.defult{
    pointer-events: none;
}

input{

    padding: 10px;
    display: flex;
    justify-content: center;
}

.finchGame{
    text-align: center;
}

.finchGame .over{
    color: #d00000;
    font-size: 23px;
    
}

.text{
    text-align: center;
    font-size: 22px;
    color: #073b4c;
}

.finchGame .good{
    color: #06d6a0;
    font-size: 23px;
    
}